body {


    color: white;
    letter-spacing: 2px;
    background: grey;
}

h1 {
    font-size: 60px;
    color: black;

}

#ascreen {

    background-repeat: no-repeat;
    width: 35%;
    margin: 0 auto;
    border-radius: 5px;
}

.black-background {
    background-color: #000000;
}

.red {
    color: red;
}

.abox {
    margin: 0 auto;
    text-align: center;
    padding: 5%;
    margin-top: 40%;

}

.bbox {
    margin: 0 auto;
    text-align: center;
    padding: 5%;
}

.wrongBox {
    margin: 0 auto;
    text-align: center;
    padding: 5%;
}

label {
    color: darkred;
}

#answerScreen {
    display: none;

    background-repeat: no-repeat;
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 20px;
}

#timesUp {
    display: none;

    background-repeat: no-repeat;
    width: 35%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 20px;
}

.timeRemain {
    padding: 2%;
    color: black;
}

.timeRemain #time-remain {
    font-size: 60px;
}

body .container {
    height: 100%;
    text-align: center;
    display: none;
    margin-bottom: 5%;
    padding-bottom: 2%;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.questions {
    font-size: 25px;

}

.ques,
label {
    padding: 1%;
}

header {
    font-size: 60px;
    color: black;
    margin-top: 2%;
}